@model Exceed.Web.Host.ViewModels.Excced.ArticlePageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Title;
    ViewBag.Desc = Model.Desc;
}
@await Html.PartialAsync("~/Views/Shared/header.cshtml", "")
<div class="pet_content">
    <div class="pet_content_block">
        <article data-am-widget="paragraph" class="am-paragraph am-paragraph-default pet_content_article" data-am-paragraph="{ tableScrollable: true, pureview: true }">
            @Html.Raw(Model.Article)
        </article>
        <ul class="like_share_block">
            <li><a class="link_share_button" href="###"><i class="iconfont share_ico_link">&#xe62f;</i>@Model.ScanCount</a></li>
            <li><a class="link_share_button" href="###"><i class="iconfont share_ico_wx">&#xe630;</i>@Model.LikeCount</a></li>
            <li><a class="link_share_button" href="###"><i class="iconfont share_ico_pyq">&#xe62e;</i>@Model.UnLikeCount</a></li>
        </ul>
    </div>
</div>